.education__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 980px) {
  .education__list {
    grid-template-columns: 1fr;
  }
}

